<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Land Platform{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'realestate/style.css' %}">


    {% block extra_head %}{% endblock %}

</head>
<body>
    <header>
        <h1>Welcome to Land Platform</h1>
        <nav>
            <ul>
                <li><a href="{% url 'landing_page' %}">Home</a></li>
                <li><a href="{% url 'register_buyer' %}">Register as Buyer</a></li>
                <li><a href="{% url 'register_seller' %}">Register as Seller</a></li>
                <li><a href="{% url 'register_surveyor' %}">Register as Surveyor</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="content">
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </div>
    
    <footer>
        <p>&copy; 2024 Land Platform</p>
    </footer>
</body>
</html>
<script src="{% static 'leaflet/leaflet.js' %}"></script>
<script>
  // Marker‐icon override
  delete L.Icon.Default.prototype._getIconUrl;
  L.Icon.Default.mergeOptions({
    iconRetinaUrl: "{% static 'leaflet/images/marker-icon-2x.png' %}",
    iconUrl:       "{% static 'leaflet/images/marker-icon.png' %}",
    shadowUrl:     "{% static 'leaflet/images/marker-shadow.png' %}",
  });
</script>
