<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Land Platform{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'realestate/style.css' %}">


    <link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-sA+zNmt0rUyy2bL/VZbRUvZ78YAwXZ1tt+3Zj+4gk28="
  crossorigin=""
/>

<!-- Leaflet JS -->
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-D+3a9D5E1YJYZ8hzts+n1U5x8w40O/9duXuBs+5pIgE="
  crossorigin=""
></script>
</head>
<body>
    <header>
        <h1>Welcome to Land Platform</h1>
        <nav>
            <ul>
                <li><a href="{% url 'landing_page' %}">Home</a></li>
                <li><a href="{% url 'register_buyer' %}">Register as Buyer</a></li>
                <li><a href="{% url 'register_seller' %}">Register as Seller</a></li>
                <li><a href="{% url 'register_surveyor' %}">Register as Surveyor</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="content">
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </div>
    
    <footer>
        <p>&copy; 2024 Land Platform</p>
    </footer>
</body>
</html>
